@import "styles/mixins";
@import "styles/variables";

.category-card {
  @include default-card();

  padding: 2.5rem 2rem;

  &__name {
    font-size: $font-size--lg;
    font-weight: $font-weight--medium;
  }

  @media #{$media-mobile-sm} {
    padding: 2rem 1.2rem;
    &__name {
      font-size: $font-size--md;
    }
  }
}
