@import "styles/variables";
@import "styles/mixins";

.modal {
  @include flex-center();

  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: $bg-dark--tertiary;
  justify-content: center;
  z-index: 999;
}
