@import "styles/variables";

.alert-modal {
  background-color: $white;
  padding: 20px 30px 50px 30px;
  text-align: center;
  border-radius: $border-radius--md;
  width: 35vw;

  &__close-button {
    float: right;
    margin-bottom: 6px;
  }

  &__icon {
    margin-bottom: 14px;
  }

  &__info {
    margin-bottom: 45px;
  }

  &__title {
    font-weight: $font-weight--bold;
    font-size: $font-size--xl;
    line-height: $font-size--xxl;
    color: $primary-color;
  }

  &__message {
    font-weight: $font-weight--medium;
    font-size: $font-size--md;
    line-height: $font-size--lg;
    color: $secondary-color;
    margin-top: 8px;
  }

  &__continue-button {
    width: 100%;
    height: 50px;
    font-size: $font-size--lg;
    justify-content: center;
    align-items: center;
  }

  @media #{$media-desktop-sm} {
    width: 55vw;
  }

  @media #{$media-tablet} {
    width: 60vw;
  }

  @media #{$media-mobile} {
    width: 75vw;
  }

  @media #{$media-mobile-sm} {
    width: 90vw;
    padding: 20px 20px 40px 20px;
  }
}
